*{
    margin:0;
    padding:0;

}

.container{
    background: url(https://muhendislik.istinye.edu.tr/sites/muhendislik.istinye.edu.tr/files/inline-images/DSC00810.jpg);
    height: 100vh;
    background-size:100% 100% ;
}
.container .navbar{
width: 100%;
height: 80px;
background: rgba(22,112,214);
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    display:inline-block;
    margin: 0 8px;
    line-height: 80px;
}
.navbar ul li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family:Roboto;
}
